<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DCS Appium Test Challenge" verbose="1" configfailurepolicy="continue" parallel="false">
    <test name="Android tests" enabled="true" parallel="false">
        <classes>
            <class name="tests.DropDownTest"/>
            <class name="tests.UnexpectedAlertsTest"/>
            <class name="tests.WifiTest"/>
        </classes>
    </test>
</suite>